{% extends "site/master.html" %}
{% block content %}

<div class="section purple">
    <div class="tasty">
        <p class="title-titulo">Tasty.C</p>
        <p class="title-tit">Site para auxílio alimentício e gestão de gastos para mebros do CIMOL</p>
    </div>
        
</div>
<div class="section yellow">
    <div class="content">
        <img src="./assets/imagens/hamburguer.png" class="img-thumbnail" alt="IMAGEM DE UM HAMBURGUER">
        <div class="text">
            <p class="title">Seja bem-vindo à nossa comunidade</p>
            <p class="description">Bem-vindo à nossa plataforma dedicada aos membros do CIMOL, em Taquara/RS! Sabemos como a rotina pode ser corrida, por isso criamos um espaço especialmente para você encontrar informações detalhadas sobre as refeições oferecidas tanto dentro da escola quanto nos estabelecimentos ao redor.</p>

        </div>
        <div class="botoess">
            <a href="/cadastro" class="btn btn-danger">Cadastro</a>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
        
    </div>
    
</div>
<div class="cont">
    <p class="title-titu">Conheça suas opções</p>
    <p class="descriptionn">As melhores opções de almoço pra você!</p>
</div>
<div class="container-text-center">
    <div class="row">
      <div class="col">
        <img src="./assets/imagens/massa.png" class="img-massa" alt="imagem de um prato de massa com molho de carne">
      </div>
      <div class="col ">
        <img src="./assets/imagens/pizza.png" class="img-pizza" alt="imagem de uma pizza inteira">
      </div>
      <div class="col ">
        <img src="./assets/imagens/prato.png" class="img-prato" alt="imagem de um prato de comida como: franfo arroz e feijão">
      </div>
      <div class="col">
        <img src="./assets/imagens/salada.png" class="img-salada" alt="imagem de um bawl de salada">
      </div>
    </div>
    
  </div>
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}