{% extends "site/master.html" %}
{% block content %}

    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i> Tasty.C</a>
        <nav class="navbar">
            <a class="active" href="#home">Home</a>
            <a href="#restaurantes">Restaurantes</a>
            <a href="#favoritos">Favoritos</a>
            <a href="#perfil">Perfil</a>
        </nav>
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-dollar-sign"></a>
        </div>
    </header>

    <!--search-->
    <form action="" id="search-form">
        <input type="search" placeholder="Busque aqui..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>

    <section class="home" id="home">

        <div class="swiper container home-slider">

            <div class="swiper-wrapper wrapper">

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Uma opção caseira</span>
                        <h3>Santo Grill</h3>
                        <p>Visite o Santo Grill, o restaurante onde você pode apreciar pratos 
                            deliciosos e bem elaborados
                        </p>
                        <a href="#" class="btn">Saiba mais</a>
                    </div>
                    <div class="image">
                        <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Uma opção clássica</span>
                        <h3>Oromos</h3>
                        <p>A padaria Oromos oferece um lugar acolhedor para desfrutar de tortas caseiras
                            e café fresco
                        </p>
                        <a href="#" class="btn">Saiba mais</a>
                    </div>
                    <div class="image">
                        <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Uma opção popular</span>
                        <h3>Cana Verde</h3>
                        <p>O local ideal para saborear pastéis crocantes
                            acompanhado de um refrescante caldo de cana
                        </p>
                        <a href="#" class="btn">Saiba mais</a>
                    </div>
                    <div class="image">
                        <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    
    <!--cartoes-->
    <section class="dishes" id="dishes">
        <h3 class="sub-heading">pratos especiais</h3>
        <h1 class="heading">POPULARES</h1>

        <div class="box-container">

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>R$ 15.99</span>
                <a href="#" class="btn">Add lista</a>
            </div>


            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>R$ 15.99</span>
                <a href="#" class="btn">Add lista</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>R$ 15.99</span>
                <a href="#" class="btn">Add lista</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>R$ 15.99</span>
                <a href="#" class="btn">Add lista</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>R$ 15.99</span>
                <a href="#" class="btn">Add lista</a>
            </div>

            <div class="box">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
                <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
                <h3>tasty food</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <span>R$ 15.99</span>
                <a href="#" class="btn">Add lista</a>
            </div>

        </div>

    </section>

    <!--banner grande-->
    <section class="about" id="about">
        <h3 class="sub-heading">sobre nós</h3>
        <h1 class="heading">quem somos?</h1>

        <div class="row">
            <div class="image">
                <img src="./assets/imagens/macarrao.png" alt="prato de macarrao">
            </div>
            
            <div class="content">
                <p style="text-align: justify;">Nós, Eduarda Oliveira de Souza e Eloísa Sortica Borges, identificamos uma necessidade na Escola Técnica Estadual Monteiro Lobato: a falta de uma plataforma que facilite aos alunos encontrar e consequentemente comprar refeições próximas de forma acessível e rápida. Propomos a criação de um site que não só forneça um guia geográfico de restaurantes e lanchonetes viáveis financeiramente, mas também permita aos usuários avaliar cardápios, preços e locais. Isso ajudará a melhorar a qualidade das refeições dos alunos, reduzir gastos e facilitar a gestão alimentar dos membros da comunidade escolar.
                </p>
                <div class="icons-container">
                    <div class="icons">
                        <i class="fas fa-shipping-fast"></i>
                        <span>Perto de você</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-dollar-sign"></i>
                        <span>Redução de gastos</span>
                    </div>
                    <div class="icons">
                        <i class="fas fa-headset"></i>
                        <span>Gerenciamento</span>
                    </div>
                </div>
            </section>
    <br><br><br><br>

    <!--footer section-->
    <section class ="footer">
        <div class="box-container">
            <div class="box">
                <h3>Local</h3>
                <a href="#">CIMOL-Rua Guilherme Lahm, 1778-Taquara/RS</a>
            </div>

            <div class="box">
                <h3>Links Rápidos</h3>
                <a href="#">Home</a>
                <a href="#">Restaurantes</a>
                <a href="#">Favoritos</a>
                <a href="#">Perfil</a>
            </div>

            <div class="box">
                <h3>Contatos</h3>
                <a href="#">(51) 3542-1309</a>
                <a href="#">eduarda-souza6@educar.rs.gov.br</a>
                <a href="#">eloisa-sborges@educar.rs.gov.br</a>
            </div>

            <div class="box">
                <h3>Social</h3>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
            </div>
        </div>
        <div class="credit">copyright @ 2024 por <span>Borges e Souza</span></div>
    </section>
    

{% endblock %}
